<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Plants</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
  </head>
  <body>
    <a href="/plants/new">Add new fruit</a>
    <h1>All Plants</h1>
    <ul>
      <% plants.forEach((plant) => { %>
      <li>
        <a href=" /plants/<%= plant._id %>"> <%= plant.name%> </a>
      </li>
      <% })%>
    </ul>
  </body>
</html>
